<footer class="footer">
  <div class="footer-logo">
    <a href="#welcome">
      <svg class="footer-logo-icon" width="302" height="129">
        <use href="/img/sprite.svg#icon-icon-company-logo"></use>
      </svg>
    </a>
  </div>

  <nav class="footer-nav">
    <a href="#about us">Про нас</a>
    <a href="#pets-section">Знайти друга</a>
    <a href="#faq">Часті запитання</a>
    <a href="#stories-section">Історії успіху</a>
  </nav>

  <div class="footer-social">
    <a class="social-link" 
    href="https://facebook.com" 
    target="_blank" 
    rel="noopener noreferrer" 
    aria-label="facebook">
      <svg class="social-icon" width="32" height="32">
        <use href="/img/sprite.svg#icon-facebook"></use>
      </svg>  
    </a>

    <a class="social-link" 
    href="https://instagram.com" 
    target="_blank" 
    rel="noopener noreferrer"
    aria-label="instagram">
      <svg class="social-icon" width="32" height="32">
        <use href="/img/sprite.svg#icon-instagram"></use>
      </svg>
    </a>
  </div>

  <div class="footer-divider"></div>

  <p class="footer-copy">© 2025 Хатинка лапок. Всі права захищені.</p>
</footer>