<!DOCTYPE html>
<html lang="uk">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Хатинка Лапок — Header</title>
</head>

<body>

    <header class="header">
        <div class="container header-inner">

            <div class="logo-group">
                <a href="#intro" class="logo" aria-label="Хатинка Лапок — логотип">
                    <svg class="logo-big" aria-hidden="true">
                        <use href="./img/sprite.svg#icon-company-logo"></use>
                    </svg>
                </a>

            </div>

            <button class="burger burger-btn is-open" id="burger-btn" aria-label="Меню">
                <svg width="32" height="32" aria-hidden="true">
                    <use href="/img/sprite.svg#icon-menu"></use>
                </svg>
            </button>


            <div class="nav-container">
                <nav class="nav">
                    <ul class="nav-list">
                        <li><a href="#find-friend" class="link">Знайди друга</a></li>
                        <li><a href="#about-us" class="link">Про нас</a></li>
                        <li><a href="#faq" class="link">Часті запитання</a></li>
                        <li><a href="#success-stories" class="link">Історії успіху</a></li>
                    </ul>
                </nav>

                <button id="take-friend-btn" class="btn-primary" type="button">Взяти друга</button>
            </div>

        </div>
    </header>

</body>

</html>