<!doctype html>
<html lang="uk">
  <head>
    <meta charset="UTF-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Хатинка Лапок — Header</title>
  </head>

  <body>
    <header class="header">
      <div class="header-inner">
        <div class="header-logo-group">
          <a
            href="#intro"
            class="header-logo"
            aria-label="Хатинка Лапок — логотип"
          >
            <svg class="header-logo-icon" aria-hidden="true">
              <use href="/img/sprite.svg#icon-icon-company-logo"></use></svg
          ></a>
        </div>
        <button class="burger burger-btn" id="burger-btn" aria-label="Меню">
          <svg width="32" height="32" aria-hidden="true">
            <use href="/img/sprite.svg#icon-menu"></use>
          </svg>
        </button>

        <div class="header-nav-container">
          <nav class="header-nav">
            <ul class="header-nav-list">
              <li>
                <a href="#find-friend" class="header-nav-list-link"
                  >Знайди друга</a
                >
              </li>

              <li>
                <a href="#about-us" class="header-nav-list-link">Про нас</a>
              </li>

              <li>
                <a href="#faq" class="header-nav-list-link">Часті запитання</a>
              </li>

              <li>
                <a href="#success-stories" class="header-nav-list-link"
                  >Історії успіху</a
                >
              </li>
            </ul>
          </nav>

          <button id="take-friend-btn" class="btn-primary" type="button">
            Взяти друга
          </button>
        </div>
      </div>
    </header>
  </body>
</html>
