<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Хатинка Лапок</title>
    <link rel="stylesheet" href="../css/hero.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500&family=Open+Sans:wght@700&display=swap" rel="stylesheet">
</head>
<body>
  <section class="hero">
            <div class="container hero-container">
                <div class="hero-content">
                    <h1 class="hero-title">
                        Кожне життя має значення. Знайди свого вірного друга
                    </h1>

                    <p class="hero-text">
                        Сотні котиків та собачок у притулку Хатинка Лапок чекають на свою родину. Подаруйте їм дім.
                    </p>

                    <a href="#reviews" class="hero-btn">
                        Подивитись історії
                    </a>
                </div>
            </div>
  </section>

  
</body>
</html>
