<div class="backdrop is-hidden">
    <div class="modal">
        <div class="container modal-container">
            <div class="container-modal-logo">
                <svg class="modal-logo" width="159.5" height="68.36">
                    <use href="/img/sprite.svg#icon-icon-company-logo"></use>
                </svg>
            </div>

            <button type="button" class="backdrop-btn-close">
                <svg class="modal-btn-close" width="24" height="24">
                    <use href="/img/sprite.svg#icon-close"></use>
                </svg>
            </button>

            <ul class="modal-list">
                <li class="modal-item">
                    <a href="#pets-section" class="modal-link">Знайди друга</a>
                </li>
                <li class="modal-item">
                    <a href="#about-us" class="modal-link">Про нас</a>
                </li>
                <li class="modal-item">
                    <a href="#faq" class="modal-link">Часті запитання</a>
                </li>
                <li class="modal-item">
                    <a href="#success-stories" class="modal-link">Історії успіху</a>
                </li>
            </ul>

            <div class="nav-modal-footer">
                <a type="button" class="nav-modal-btn-take" href="#pets-section" aria-label="Взяти друга">
                    Взяти друга
                </a>
            </div>
        </div>
    </div>
</div>
