<section class="success-stories">
  <div class="container">
    <div class="testimonials-title-box">
      <h2 class="success-stories-title">Щасливі історії, що надихають</h2>

      <p class="success-stories-subtitle">
        Ці хвостики вже знайшли свій дім. Ваш майбутній друг теж чекає на вас
      </p>
    </div>

    <div class="testimonial-slider">
      <ul class="testimonial-list">
        <li class="testimonial-card">
          <div class="rating">★★★★★</div>

          <p class="testimonial-text">
            Ми довго вагалися, чи готові до собаки, але коли побачили її на
            сайті "Хатинка лапок", зрозуміли — це наш друг. Тепер ми не уявляємо
            життя без цього веселого хвостика.
          </p>

          <p class="testimonial-author">Марина та Сергій</p>
        </li>

        <li class="testimonial-card">
          <div class="rating">★★★★★</div>

          <p class="testimonial-text">
            Я завжди хотіла взяти котика, але боялася, що доросла тварина не
            зможе звикнути. Волонтери переконали мене дати шанс. І це було
            найкраще рішення!
          </p>

          <p class="testimonial-author">Олена</p>
        </li>
      </ul>

      <div class="slider-navigation">
        <button type="button" class="slider-btn prev-btn" aria-label="Previous">
          <svg
            class="slider-icon"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
          >
            <use href="/img/sprite.svg#icon-arrow-back" />
          </svg>
        </button>

        <button type="button" class="slider-btn next-btn" aria-label="Next">
          <svg
            class="slider-icon"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
          >
            <use href="/img/sprite.svg#icon-arrow-forward" />
          </svg>
        </button>
      </div>

      <div class="slider-pagination"></div>
    </div>
  </div>
</section>
